.filter-container {
    position: relative;

    .filter-options {
        position: absolute;
        top: 150%;
        left: 0px;
        z-index: 999;
        display: flex;
        flex-direction: column;
        gap: 6px;
        height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
